h2{
    margin-left : 580px;
  }

.button{
         text-align: center;
         font-size: 22px;
         border-radius: 10px;
         width: 70px;
         margin-left: 10px;
         
      }
.button:hover {background-color: #b5bcc0}      
.cntr{
        text-align: center;
        font-size: 22px;
        border-radius: 10px;
        width: 70px;
        margin-left: 500px;
    }      
.cntr:hover {background-color: #b5bcc0}      

.textt{
        margin-left: 500px;
        width: 320px;
        height: 24px; 
        font-size: 18px;
        text-align: right;
        background-color: #eaf0f3;

     }